#pieChart{
  background: #FFFFFF;
}

#dayOfWeekLineColor{
  background: #62CAE2;
}

#dailyTrackerColor{
  background: #4EBA75;
}

#whereType{
  background: #FFFFFF;
}

#whoType{
  background: #FFFFFF;
}
