html,body{
  background-color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
    display: inline;
    color:#888;
}
nav{
  background-color:#283E54;

}
h3{
  color:white;
  background-color:#283E54;

}

.fa{
  color:white;
}
.container-fluid{
  padding:0px;
}
.classic-tabs{
  background-color:#283E54;
}
.btn{
  margin-left: 0%;
}
#deleteBtn{
  margin-left:40%;
}
dir-pagination-controls{
  color:red;
}
.modal-header{
  border-radius:2px;
}
#form3{
  font-weight:700;
}
.row{
}
