<!DOCTYPE html>
<html>
<head>
  <title>BoozyAnalytics Home</title>
</head>
<body ng-controller="HomeCtrl">
  <div class="jumbotron col-md-12 mx-auto text-center z-depth-0" style="padding-top: 10; padding-bottom:10;">
    <img src="/image/logo_name_white.png" alt="">
  </div>

  <!--Card-->
<div class="card testimonial-card col-md-5 mx-auto">

    <!--Bacground color-->
    <div class="card-up">
    </div>

    <!--Avatar-->
    <div class="avatar"><img src="/image/analytics_logo.png" class="rounded-circle">
    </div>
    <div class="card-body">

      <p class="h5 text-center mb-4">Sign in</p>

      <!-- Form subscription -->
      <form>

          <div class="md-form"  ng-class="{'has-error': loginForm.email.$invalid && loginForm.email.$touched}">
              <i class="fa fa-envelope prefix grey-text"></i>
              <input type="email" name="email" ng-model="user.email" class="form-control" required=""/>
              <small class="help-block" ng-show="loginForm.email.$invalid && loginForm.email.$touched">Please enter a valid email address</small>
              <label for="email">Email Address</label>
          </div>

          <div class="md-form" ng-class="{'has-error': loginForm.password.$invalid && loginForm.password.$touched}">
              <i class="fa fa-lock prefix grey-text"></i>
              <label for="password">Password</label>
              <input type="password" name="password" ng-model="user.password" class="form-control" required=""/>
              <small class="help-block" ng-show="loginForm.password.$invalid && loginForm.password.$touched">Please enter a valid password</small>

          </div>

          <div class="col-md-6 mx-auto">
            <p ng-show="errMsg" style="color:red;">{{errorMessage}}</p>
            <button type="submit" class="btn btn-lg btn-primary btn-block" ng-disabled="loginForm.$invalid" ng-click="signIn()">Sign In</button>
          </div>

      </form>
    </div>

</div>
<!--/.Card-->


</body>
</html>
