<!DOCTYPE html>
<html>
  <head>
    <title>Boozyanalytics Home Page</title>
    <link rel="stylesheet" href="styles/dashboard.css">

    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>


  </head>
  <body class='fixed-sn'>

    <!--Double navigation-->
   <header ng-controller="MainCtrl">
       <!-- Sidebar navigation -->
       <div id="slide-out" class="side-nav mdb-color darken-4 fixed">
           <ul class="custom-scrollbar">
               <!--Social-->
               <li>
                   <div class="container-fluid" style="text-align:center; margin-top:40%;">
                     <img src="/images/logo.png" class="img-fluid">
                     <p style="color:white;">BoozyAnalytics</p>
                   </div>
               </li>

               <!-- Side navigation links -->
               <li>
                   <ul class="collapsible collapsible-accordion">
                       <li><a href="#!/welcome" class="collapsible-header waves-effect arrow-r"><i class="fa fa-columns"></i> Data</a>
                       </li>
                       <li><a href="#!/dashboard" class="collapsible-header waves-effect arrow-r"><i class="fa fa-chart-line"></i> Dashboard</a>
                       </li>
                       <li ng-click=logout()><a href="#" class="collapsible-header waves-effect arrow-r"><i class="fa fa-sign-in-alt"></i>Logout</li>
                   </ul>
               </li>
               <!--/. Side navigation links -->
           </ul>
           <div class="sidenav-bg mask-strong"></div>
       </div>
       <!--/. Sidebar navigation -->
       <!-- Navbar -->
       <nav class="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav">
           <!-- SideNav slide-out button -->
           <div class="float-left" style="margin-top:-2%">
               <a href="#!/dashboard" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>
           </div>
           <!-- Breadcrumb-->
           <div class="breadcrumb-dn mr-auto">
             <a style="margin-left: 20%; font-size:20px;"class="navbar-brand" href="#!/welcome"><img src="/images/logo.png" height="40" class="d-inline-block align-center mr-2" alt="">BoozyAnalytics</a>
           </div>

           <ul class="nav navbar-nav nav-flex-icons ml-auto">
               <li class="nav-item">
                   <p style="color:white"><i class="fa fa-user-circle"></i> <span class="clearfix d-none d-sm-inline-block">{{nameOfUser}}</span></p>
               </li>

           </ul>
       </nav>
       <!-- /.Navbar -->
   </header>
   <!--/.Double navigation-->

   <div class="row mx-auto" style="margin-top:7%; width:95%">
       <div class="col-md-6 mx-auto">
           <div class="card card-cascade narrower">
             <div class="view overlay" style="background:white">
               <div class="row d-flex align-items-center mx-auto my-2" style="width:95%; ">
                 <div class="col-md-4 mx-auto">
                   <canvas id="whereControlDonut"></canvas>
                   <div class="text-center">
                     <h5><span class="label">Where</span></h5>
                   </div>
                 </div>
                   <div class="col-md-4 mx-auto">
                     <canvas id="whoControlDonut"></canvas>
                     <div class="text-center">
                       <h5><span class="label">Who</span></h5>
                     </div>
                   </div>
                   <div class="col-md-4 mx-auto">
                     <canvas id="controlPieChart"></canvas>
                     <div class="text-center">
                       <h5><span class="label">Type</span></h5>
                     </div>

                   </div>

               </div>
             </div>
               <div class="card-body text-center">
                 <!--span class="min-chart" ng-controller="DashboardCtrl" id="where-control-chart" data-percent=changePercent()><span class="percent"></span></span-->


               </div>


             </div>
         </div>

         <div class="col-md-6 mx-auto">
             <div class="card card-cascade narrower">
               <div class="view overlay"  style="background:white">
                 <div class="row d-flex align-items-center mx-auto my-2" style="width:95%;">
                   <div class="col-md-4 mx-auto">
                     <canvas id="whereExpDonut"></canvas>
                     <div class="text-center">
                       <h5><span class="label">Where</span></h5>
                     </div>
                   </div>
                     <div class="col-md-4 mx-auto">
                       <canvas id="whoExpDonut"></canvas>
                       <div class="text-center">
                         <h5><span class="label">Who</span></h5>
                       </div>
                     </div>
                     <div class="col-md-4 mx-auto">
                       <canvas id="expPieChart"></canvas>
                       <div class="text-center">
                         <h5><span class="label">Type</span></h5>
                       </div>

                     </div>
                 </div>
               </div>
                 <div class="card-body text-center">

                 </div>
               </div>
           </div>
     </div>

   <div class="row d-flex align-items-center mx-auto" style="margin-top: -5%;width:95%">

     <div class="col-md-6 mx-auto">
         <div class="card card-cascade narrower">
            <div style="background:#EC6E91" class="view gradient-card-header">
              <h2 style="color:white; " class="card-header-title">Control</h2>

           </div>
             <div class="card-body text-center">
               <div class="row d-flex align-items-center">
                 <div class="table-responsive mx-auto">
                   <table class="table table-hover mx-auto" style="width:95%;">

                     <thead>
                       <tr>
                         <th></th>
                         <th>Average</th>
                         <th>Total</th>
                       </tr>
                     </thead>
                     <tbody>
                       <tr ng-repeat="data in controlUserData" >
                         <td class="bold">{{data.labels}}</td>
                         <td>{{data.episodes}}</td>
                         <td>{{data.totalDrinks}}</td>




                     </tbody>
                   </table>
                 </div>
               </div>
             </div>
           </div>
         </div>

         <div class="col-md-6 mx-auto">
             <div class="card card-cascade narrower">
               <div style="background:#62CAE2" class="view gradient-card-header">
                 <h2 style="color:white; " class="card-header-title">Experimental</h2>

              </div>
                 <div class="card-body text-center">
                   <div class="row d-flex align-items-center">
                     <div class="table-responsive mx-auto">
                       <table class="table table-hover mx-auto" style="width:95%;">

                         <thead>
                           <tr>
                             <th></th>
                             <th>Average</th>
                             <th>Total</th>
                           </tr>
                         </thead>
                         <tbody>
                           <tr ng-repeat="data in expUserData" >
                             <td class="bold">{{data.labels}}</td>
                             <td>{{data.episodes}}</td>
                             <td>{{data.totalDrinks}}</td>




                         </tbody>
                       </table>
                     </div>
                   </div>
                 </div>
               </div>
             </div>


   </div>

<div class="row mx-auto" style="margin-top: -5%; width:95%">
  <div class="col-md-6 mx-auto" >
      <!--Card-->
      <div class="card card-cascade narrower">
          <!--Card content-->
          <div class="view overlay" id="conExpLine">
            <div class="row  d-flex align-items-center mx-2 my-2">
              <canvas id="lineChart"></canvas>
            </div>
            <div id="slider-range"></div>
          </div>
          <div class="card-body text-center">

          </div>
          <!--/.Card content-->
      </div>
      <!--/.Card-->
  </div>
  <div class="col-md-6 mx-auto">
      <!--Card-->
      <div class="card card-cascade narrower">
          <!--Card content-->
          <div class="view overlay" style="background: #ffffff">
            <div class="row  d-flex align-items-center mx-2 my-2">
              <canvas id="barChart" ></canvas>
            </div>
          </div>
          <div class="card-body text-center">
          </div>

      </div>
      <!--/.Card-->
</div>




  <!--Grid column-->
  <div class="col-md-8 mx-auto" style="margin-top:-5%">
      <!--Card-->
      <div class="card card-cascade narrower">
          <!--Card content-->
          <div class="view overlay" style="background: #ffffff">
            <div id="map-container-5" class="z-depth-1" style="height: 400px"></div>
          </div>
          <div class="card-body text-center">
          </div>

      </div>
      <!--/.Card-->
  </div>

</div>









</body>

</html>
