<!DOCTYPE html>
<html>
  <head>
    <title>Boozyanalytics Home Page</title>
    <link rel="stylesheet" href="styles/dashboard.css">

    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>


  </head>
  <body >

<div class="container-fluid" style="background-color:#283E54">

    <nav class="navbar navbar-expand-lg navbar-dark z-depth-0">
      <a class="navbar-brand" href="#/welcome"><img src="/images/logo.png" height="30" class="d-inline-block align-top mr-2" alt="">BoozyAnalytics</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#!/dashboard">Dashboard<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!/welcome">Data</a>
          </li>
        </ul>

        <ul class="navbar-nav navbar-right">
          <li class="nav-item" ng-click ="logout()">
            <a class="nav-link" href="#">Logout</a>
          </li>
        </ul>

      </div>

    </nav>

    <div class="container" style="background-color:#283E54">
      <div class="row">
        <div class="col-md-12">
          <h3>Dashboard</h3>
        </div>
      </div>
    </div>

</div>

  <div class="col-md-12 mx-auto">
      <!--Card-->
      <div class="card card-cascade narrower">
          <!--Card content-->
          <div class="card-body text-center">
            <div class="view overlay" id="conExpLine">
              <canvas id="lineChart"></canvas>
              <div id="slider-range"></div>
            </div>
          </div>
          <!--/.Card content-->
      </div>
      <!--/.Card-->
  </div>

<div class="row">
  <div class="col-md-6 mx-auto">
      <!--Card-->
      <div class="card card-cascade narrower">
          <!--Card content-->
          <div class="card-body text-center">
              <!--Google map-->
              <canvas id="barChart" ></canvas>
          </div>
          <!--/.Card content-->
      </div>
      <!--/.Card-->
  </div>
  <!--Grid column-->
  <div class="col-md-6 mx-auto">
      <!--Card-->
      <div class="card card-cascade narrower">
          <!--Card content-->
          <div class="card-body text-center">
              <!--Google map-->
              <div id="map-container-5" class="z-depth-1" style="height: 300px"></div>
          </div>
          <!--/.Card content-->
      </div>
      <!--/.Card-->
  </div>

</div>

<div class="row">
  <div class="col-md-6 mx-auto" >
      <div class="card card-cascade narrower">
          <div class="card-body text-center" ng-controller="DashboardCtrl" id="dashboardcontroller" >
            <img src="/images/card_1.png" align="left" class="z-depth-1"></img>
            <p><h4 class="card-title" align="right"><b><big>{{controlEpisodes}}</big></b> Total Episodes</h4></p>
          </div>
      </div>
  </div>
  <div class="col-md-6 mx-auto" >
      <div class="card card-cascade narrower">
          <div class="card-body text-center" ng-controller="DashboardCtrl" id="dashboardcontroller" >
            <img src="/images/card_1.png" align="left" class="z-depth-1"></img>
            <p><h4 class="card-title" align="right"><b><big>{{expEpisodes}}</big></b> Total Episodes</h4></p>
          </div>
      </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 mx-auto" >
      <div class="card card-cascade narrower">
          <div class="card-body text-center" ng-controller="DashboardCtrl" id="dashboardcontroller" >
            <img src="/images/card_2.png" align="left" class="z-depth-1"></img>
            <p><h4 class="card-title" align="right"><b><big>{{averageDrinksControl}}</big></b> Drinks per Episode</h4></p>
            <p><h6 align="right">{{controlDrinks}} Total Drinks</h6></p>
          </div>
      </div>
  </div>
  <div class="col-md-6 mx-auto" >
      <div class="card card-cascade narrower">
          <div class="card-body text-center" ng-controller="DashboardCtrl" id="dashboardcontroller" >
            <img src="/images/card_2.png" align="left" class="z-depth-1"></img>
            <p><h4 class="card-title" align="right"><b><big>{{averageDrinksExp}}</big></b> Drinks per Episode</h4></p>
            <p><h6 align="right">{{expDrinks}} Total Drinks</h6></p>
          </div>
      </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 mx-auto" >
      <div class="card card-cascade narrower">
          <div class="card-body text-center" ng-controller="DashboardCtrl" id="dashboardcontroller" >
            <img src="/images/card_3.png" align="left" class="z-depth-1"></img>
            <p><h4 class="card-title" align="right"><b><big>{{averageCalControl}}</big></b> Calories per Episode</h4></p>
            <p><h6 align="right">{{totalCalControl}} Total</h6></p>
          </div>
      </div>
  </div>
  <div class="col-md-6 mx-auto" >
      <div class="card card-cascade narrower">
          <div class="card-body text-center" ng-controller="DashboardCtrl" id="dashboardcontroller" >
            <img src="/images/card_3.png" align="left" class="z-depth-1"></img>
            <p><h4 class="card-title" align="right"><b><big>{{averageCalExp}}</big></b> Calories per Episode</h4></p>
            <p><h6 align="right">{{totalCalExperimental}} Total</h6></p>          </div>
      </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 mx-auto" >
      <div class="card card-cascade narrower">
          <div class="card-body text-center" ng-controller="DashboardCtrl" id="dashboardcontroller" >
            <img src="/images/card_4.png" align="left" class="z-depth-1"></img>
            <p><h4 class="card-title" align="right"><b><big>${{controlAverageCost}}</big></b> Dollars per Episode</h4></p>
            <p><h6 align="right">${{controlTotalCost}} Total</h6></p>
          </div>
      </div>
  </div>
  <div class="col-md-6 mx-auto" >
      <div class="card card-cascade narrower">
          <div class="card-body text-center" ng-controller="DashboardCtrl" id="dashboardcontroller" >
            <img src="/images/card_4.png" align="left" class="z-depth-1"></img>
            <p><h4 class="card-title" align="right"><b><big>${{expAverageCost}}</big></b> Dollars per Episode</h4></p>
            <p><h6 align="right">${{experimentalTotalCost}} Total</h6></p>          </div>
      </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 mx-auto" >
      <div class="card card-cascade narrower">
          <div class="card-body text-right" ng-controller="DashboardCtrl" id="dashboardcontroller" >
            <div class="view overlay">
              <canvas id="controlPieChart"></canvas>
            </div>
            <p><h4 class="card-title" align="left">Control - Types of Drinks</p>
          </div>
      </div>
  </div>
  <div class="col-md-6 mx-auto" >
      <div class="card card-cascade narrower">
          <div class="card-body text-right" ng-controller="DashboardCtrl" id="dashboardcontroller" >
            <div class="view overlay">
              <canvas id="expPieChart"></canvas>
            </div>
            <p><h4 class="card-title" align="left">Experimental - Types of Drinks</p>
          </div>
      </div>
  </div>
</div>

<div class="row">
    <div class="col-md-5 mx-auto">
        <div class="card card-cascade narrower">
            <div class="card-body text-center">
              <!--span class="min-chart" ng-controller="DashboardCtrl" id="where-control-chart" data-percent=changePercent()><span class="percent"></span></span-->
              <div class="row d-flex align-items-center">
                <div class="col-md-6 mx-auto">
                  <canvas id="whereControlDonut"></canvas>
                  <div class="text-center">
                    <h5><span class="label">Control - Where</span></h5>
                  </div>
                </div>
                  <div class="col-md-6 mx-auto">
                    <canvas id="whoControlDonut"></canvas>
                    <div class="text-center">
                      <h5><span class="label">Control - Who</span></h5>
                    </div>
                  </div>
              </div>

            </div>


          </div>
      </div>

      <div class="col-md-5 mx-auto">
          <div class="card card-cascade narrower">
              <div class="card-body text-center">
                <div class="row d-flex align-items-center">
                  <div class="col-md-6 mx-auto">
                    <canvas id="whereExpDonut"></canvas>
                    <div class="text-center">
                      <h5><span class="label">Experimental - Where</span></h5>
                    </div>
                  </div>
                    <div class="col-md-6 mx-auto">
                      <canvas id="whoExpDonut"></canvas>
                      <div class="text-center">
                        <h5><span class="label">Experimental - Who</span></h5>
                      </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
  </div>

  <canvas id="ini" width="500" height="300"></canvas>



</body>

</html>
