<!DOCTYPE html>
<html>
<head>
  <title>BoozyAnalytics Home</title>
  <link rel="stylesheet" href="styles/home.css">

  <meta http-equiv='cache-control' content='no-cache'>
  <meta http-equiv='expires' content='0'>
  <meta http-equiv='pragma' content='no-cache'>

</head>
<body ng-controller="HomeCtrl">
  <div class="jumbotron col-md-12 mx-auto text-center z-depth-0" style="padding-top: 10; padding-bottom:10;">
    <img src="images/logo_name_white.png" alt="">
  </div>

  <!--Card-->
<div class="card testimonial-card col-md-5 col-sm-10 mx-auto">

    <!--Bacground color-->
    <div class="card-up">
    </div>

    <!--Avatar-->
    <div class="avatar"><img src="images/analytics_logo.png" class="rounded-circle">
    </div>
    <div class="card-body">

      <p class="h5 text-center mb-4">Sign in</p>

      <!-- Form subscription -->
      <form>

          <div class="md-form"  ng-class="{'has-error': loginForm.email.$invalid && loginForm.email.$touched}">
              <i class="fa fa-envelope prefix grey-text"></i>
              <input type="email" name="email" ng-model="user.email" class="form-control" required=""/>
              <small class="help-block" ng-show="loginForm.email.$invalid && loginForm.email.$touched">Please enter a valid email address</small>
              <label for="email">Email Address</label>
          </div>

          <div class="md-form" ng-class="{'has-error': loginForm.password.$invalid && loginForm.password.$touched}">
              <i class="fa fa-lock prefix grey-text"></i>
              <label for="password">Password</label>
              <input type="password" name="password" ng-model="user.password" class="form-control" required=""/>
              <small class="help-block" ng-show="loginForm.password.$invalid && loginForm.password.$touched">Please enter a valid password</small>

          </div>

          <div class="col-md-6 mx-auto">
            <p ng-show="errMsg">{{errorMessage}}</p>
            <button type="submit" class="btn btn-lg btn-primary btn-block" ng-disabled="loginForm.$invalid" ng-click="signIn()" style="margin-left:0px;">Sign In</button>
          </div>

      </form>
    </div>

</div>
<!--/.Card-->
<div class="modal fade" id= "errorModal" ng-controller="UserCtrl">
  <div class="modal-dialog modal-sm modal-vert-align-center" role="document">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h5 class="modal-title" align="center">Invalid User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-blue-grey" data-dismiss="modal">Dismiss</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>
