<!DOCTYPE html>
<html>
  <head>
    <title>Boozyanalytics Home Page</title>
    <link rel="stylesheet" href="styles/welcome.css">

  </head>
  <body >





<div class="container-fluid" style="background-color:#283E54">

    <nav class="navbar navbar-expand-lg navbar-dark z-depth-0">
      <a class="navbar-brand" href="#/welcome"><img src="/images/logo.png" height="30" class="d-inline-block align-top mr-2" alt="">BoozyAnalytics</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>




      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#/welcome">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#/welcome">Dashboard</a>
          </li>
        </ul>

        <ul class="navbar-nav navbar-right">
          <li class="nav-item" ng-click ="logout()">
            <a class="nav-link" href="#">Logout</a>
          </li>
        </ul>

      </div>

    </nav>

    <div class="container" style="background-color:#283E54">
      <div class="row">
        <div class="col-md-12">
          <h3>Welcome {{nameOfUser}}!</h3>
        </div>
      </div>
    </div>
</div>

    <div class="container-fluid">

      <ul class="nav classic-tabs tabs-cyan rounded-0" role="tablist" id='tabs'>
        <li role="presentation" class="nav-item" ng-class="{ 'active': activeTab === 'dogs'}">
          <a ng-click="setActiveTab('dogs')" ng-class="{'nav-link waves-light active' : activeTab === 'dogs'}" role="tab">Data</a>
        </li>
        <li role="presentation" class="nav-item" ng-class="{ 'active': activeTab === 'cats'}" title="users">
          <a ng-click="setActiveTab('cats')" ng-class="{'nav-link waves-light active' : activeTab === 'cats'}" role="tab">Users</a>
        </li>
        <li role="presentation" class="nav-item" ng-class="{ 'active': activeTab === 'birds'}">
          <a ng-click="setActiveTab('birds')" ng-class="{'nav-link waves-light active': activeTab === 'birds'}" role="tab">Admins</a>
        </li>
      </ul>

      <div class="tab-content card rounded-0">

        <!-- this section will only show if the activeTab value is set to dogs -->
        <section ng-if="activeTab === 'dogs'" ng-controller="WelcomeCtrl">

          <div class="table-responsive mx-auto">
            <table id = "exportTable" class="table table-hover mx-auto" style="width:80%;">

              <thead>
                <tr>
                  <th>uid</th>
                  <th>group</th>
                  <th>nightCount</th>
                  <th>date</th>
                  <th>time</th>
                  <th>size</th>
                  <th>type</th>
                  <th>where</th>
                  <th>who</th>
                  <th>latitude</th>
                  <th>longitude</th>
                  <th>oral</th>
                  <th>anal</th>
                  <th>analCondom</th>
                  <th>vaginal</th>
                  <th>vaginalCondom</th>
                  <th>friendPartner</th>
                  <th>monogamousPartner</th>
                  <th>newPartner</th>
                  <th>naPartner</th>
                  <th>numPartners</th>
                </tr>
              </thead>
              <tbody>
                <!--Top Table UI Export Table-->
                <div class="card mt-0 mb-2 mx-auto" style="width:80%;">

                    <!--Grid row-->
                    <div class="row">

                      <!--Grid column-->
                      <div class="col-lg-8 col-md-12">


                          <form class="md-form mb-1">
                              <input id="btnSearch" class="form-control mx-auto" type="text" ng-model="search" placeholder="Search" style="width:90%;"
                              data-ng-change="onFolderNumberKeyPress($event)"  >

                          </form>

                      </div>
                      <!--Grid column
                      <i ng-click="enterClick()" class="fa fa-search fa-lg grey-text mt-4"></i>
                    -->
                      <!--Grid column-->


                        <!--Grid column-->
                        <div class="col-lg-4 col-md-12 mx-auto">

                          <div class="text-center mt-2">
                            <button id="exportButton" ng-click="exportTable()" class="btn btn-success btn-rounded mb-4"><span class="fa fa-file-excel ml-1 mr-1"></span> Export</button>
                          </div>

                        </div>
                        <!--Grid column-->

                    </div>
                    <!--Grid row-->

                </div>
                <!--Top Table UI-->
                <tr ng-repeat="article in articles" >

                  <td>{{article.key}}</td>
                  <td>{{article.group}}</td>
                  <td>{{article.value}}</td>
                  <td>{{article.date}}</td>
                  <td>{{article.time}}</td>
                  <td>{{article.size}}</td>
                  <td>{{article.type}}</td>
                  <td>{{article.where}}</td>
                  <td>{{article.who}}</td>
                  <td>{{article.latitude}}</td>
                  <td>{{article.longitude}}</td>
                  <td>{{article.oral}}</td>
                  <td>{{article.anal}}</td>
                  <td>{{article.analCondom}}</td>
                  <td>{{article.vaginal}}</td>
                  <td>{{article.vaginalCondom}}</td>
                  <td>{{article.FriendPartner}}</td>
                  <td>{{article.MonogamousPartner}}</td>
                  <td>{{article.NewPartner}}</td>
                  <td>{{article.NAPartner}}</td>
                  <td>{{article.NumPartners}}</td>
                </tr>

              </tbody>
            </table>
          </div>


          <div class="table-responsive mx-auto">
            <table id = "exportTableTwo" class="table mx-auto" style="width:80%; display:none; ">

              <thead>
                <tr>
                  <th>uid</th>
                  <th>group</th>
                  <th>nightCount</th>
                  <th>date</th>
                  <th>time</th>
                  <th>size</th>
                  <th>type</th>
                  <th>where</th>
                  <th>who</th>
                  <th>latitude</th>
                  <th>longitude</th>
                  <th>oral</th>
                  <th>anal</th>
                  <th>analCondom</th>
                  <th>vaginal</th>
                  <th>vaginalCondom</th>
                  <th>friendPartner</th>
                  <th>monogamousPartner</th>
                  <th>newPartner</th>
                  <th>naPartner</th>
                  <th>numPartners</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="data in datas|filter:search">

                  <td>{{data.key}}</td>
                  <td>{{data.group}}</td>
                  <td>{{data.value}}</td>
                  <td>{{data.date}}</td>
                  <td>{{data.time}}</td>
                  <td>{{data.size}}</td>
                  <td>{{data.type}}</td>
                  <td>{{data.where}}</td>
                  <td>{{data.who}}</td>
                  <td>{{data.latitude}}</td>
                  <td>{{data.longitude}}</td>
                  <td>{{data.oral}}</td>
                  <td>{{data.anal}}</td>
                  <td>{{data.analCondom}}</td>
                  <td>{{data.vaginal}}</td>
                  <td>{{data.vaginalCondom}}</td>
                  <td>{{data.FriendPartner}}</td>
                  <td>{{data.MonogamousPartner}}</td>
                  <td>{{data.NewPartner}}</td>
                  <td>{{data.NAPartner}}</td>
                  <td>{{data.NumPartners}}</td>
                </tr>
              </tbody>
            </table>
          </div>



          <!--Pagination blue-->
          <nav style="background-color:white;" id="paginationBtns">
              <ul class="pagination justify-content-center pg-blue" >
                  <!--Arrow left-->
                  <li class="page-item" ng-class="{ 'disabled': firstBool === true}" ng-click="switchBatch(-1)">
                      <a class="page-link" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                          <span class="sr-only">Previous</span>
                      </a>
                  </li>

                  <ul ng-repeat="batch in batches" ng-click="switchNumber($index)">
                    <!--Numbers-->
                    <li class="page-item" ng-class="{ 'active': batchNumber === $index}"><a class="page-link">{{$index+1}}</a></li>
                  </ul>

                  <!--Arrow right-->
                  <li class="page-item" ng-class="{ 'disabled': lastBool === true}" ng-click="switchBatch(-2)">
                      <a class="page-link" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">Next</span>
                      </a>
                  </li>
              </ul>
          </nav>
          <!--/Pagination blue-->

        </section>

        <!-- this section will only show if the activeTab value is set to cats -->
        <section ng-if="activeTab === 'cats'" ng-controller="UserCtrl">
          <div class="table-responsive mx-auto">
            <table id = "userTable" class="table table-hover mt-0 mb-0 mx-auto" style="width:80%; margin:auto;">

              <thead>
                <tr>
                  <th class="text-center">Username</th>
                  <th class="text-center">Drinking Episodes</th>
                  <th class="text-center">Group</th>
                  <th class="text-center">Start Date</th>
                  <th class="text-center">Last Episode</th>
                  <th class="text-center">Delete User</th>
                </tr>
              </thead>
              <tbody>
                <!--Top Table UI-->
                <div class="card mt-0 mb-2 mx-auto" style="width:80%;">

                    <!--Grid row-->
                    <div class="row">

                      <!--Grid column-->
                      <div class="col-lg-8 col-md-12">


                        <form class="md-form mb-1">
                            <input id="btnSearchUsers" class="form-control mx-auto" type="text" ng-model="search" placeholder="Search" style="width:90%;"
                            data-ng-change="onFolderNumberKeyPress($event)"  >

                        </form>

                      </div>
                      <!--Grid column-->


                        <!--Grid column-->
                        <div class="col-lg-4 col-md-12 mx-auto">

                          <div class="text-center mt-2" style="margin-top:0%;">
                              <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#addUserModal"><i class="fa fa-plus ml-1" style="padding-right:10px;"></i>Add User</a>
                          </div>
                        </div>
                        <!--Grid column-->



                    </div>
                    <!--Grid row-->

                </div>
                <!--Top Table UI-->
                <tr ng-repeat="article in articles">
                  <td align="center">{{article.key}}</td>
                  <td align="center">{{article.value}}</td>
                  <td align="center">{{article.group}}</td>
                  <td align="center">{{article.date}}</td>
                  <td align="center">{{article.last}}</td>
                  <td><button type="button" class="btn btn-danger mb-0 mt-0" id="deleteBtn" ng-click=getUser(article.key) data-toggle="modal" data-target="#deleteUserModal">
                  <span class="fa fa-trash fa-lg" aria-hidden="true" ></span></button></td>
                </tr>
              </tbody>

            </table>

          </div>

          <!--Pagination blue-->
          <nav style="background-color:white;" id="paginationBtnsUsers">
              <ul class="pagination justify-content-center pg-blue" >
                  <!--Arrow left-->
                  <li class="page-item" ng-class="{ 'disabled': firstBool === true}" ng-click="switchBatch(-1)">
                      <a class="page-link" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                          <span class="sr-only">Previous</span>
                      </a>
                  </li>

                  <ul ng-repeat="batch in batches" ng-click="switchNumber($index)">
                    <!--Numbers-->
                    <li class="page-item" ng-class="{ 'active': batchNumber === $index}"><a class="page-link">{{$index+1}}</a></li>
                  </ul>

                  <!--Arrow right-->
                  <li class="page-item" ng-class="{ 'disabled': lastBool === true}" ng-click="switchBatch(-2)">
                      <a class="page-link" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">Next</span>
                      </a>
                  </li>
              </ul>
          </nav>
          <!--/Pagination blue-->

          <div class="table-responsive mx-auto">
            <table id = "userTableTwo" class="table table-hover mt-0 mb-0 mx-auto" style="width:80%; margin:auto; display:none;">

              <thead>
                <tr>
                  <th class="text-center">Username</th>
                  <th class="text-center">Drinking Episodes</th>
                  <th class="text-center">Group</th>
                  <th class="text-center">Start Date</th>
                  <th class="text-center">Last Episode</th>
                  <th class="text-center">Delete User</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="data in datas|filter:search">
                  <td align="center">{{data.key}}</td>
                  <td align="center">{{data.value}}</td>
                  <td align="center">{{data.group}}</td>
                  <td align="center">{{data.date}}</td>
                  <td align="center">{{data.last}}</td>
                  <td><button type="button" class="btn btn-danger mt-0 mb-0" id="deleteBtn" ng-click=getUser(data.key) data-toggle="modal" data-target="#myModal">
                  <span class="fa fa-trash fa-lg" aria-hidden="true" ></span></button></td>
                </tr>
              </tbody>

            </table>


          </div>


        </section>

        <!-- ADMINS TAB -->
        <section ng-if="activeTab === 'birds'" ng-controller="AdminsCtrl">
          <div class="table-responsive mx-auto">
            <table id = "adminTable" class="table table-hover mb-0 mx-auto" style="width:80%; margin:auto;">

              <thead>
                <tr>
                  <th class="text-center">Name</th>
                  <th class="text-center">Username</th>
                  <th class="text-center">Delete User</th>
                </tr>
              </thead>
              <tbody>
                <!--Top Table UI-->
                <div class="card mt-0 mb-2 mx-auto" style="width:80%;">

                    <!--Grid row-->
                    <div class="row">

                      <!--Grid column-->
                      <div class="col-lg-8 col-md-12">


                        <form class="md-form mb-1">
                            <input id="btnSearchAdmins" class="form-control mx-auto" type="text" ng-model="search" placeholder="Search" style="width:90%;"
                            data-ng-change="onFolderNumberKeyPress($event)"  >

                        </form>

                      </div>
                      <!--Grid column-->


                        <!--Grid column-->
                        <div class="col-lg-4 col-md-12 mx-auto">
                          <div class="text-center mt-2">
                              <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#addAdminModal"><i class="fa fa-plus ml-1" style="padding-right:10px;"></i>Add Admin</a>
                          </div>

                        </div>
                        <!--Grid column-->



                    </div>
                    <!--Grid row-->

                </div>
                <!--Top Table UI-->
                <tr ng-repeat="article in articles">
                  <td align="center">{{article.name}}</td>
                  <td align="center">{{article.email}}</td>
                  <td><button type="button" class="btn btn-danger mt-0 mb-0" id="deleteBtn" ng-click=getAdmin(article.name,article.email) data-toggle="modal" data-target="#deleteAdminModal">
                    <span class="fa fa-trash fa-lg" aria-hidden="true" ></span></button></td>
                </tr>
              </tbody>

            </table>
          </div>

          <div class="table-responsive mx-auto">
            <table id = "adminTableTwo" class="table table-hover mb-0 mx-auto" style="width:80%; margin:auto; display:none;">
              <thead>
                <tr>
                  <th class="text-center">Name</th>
                  <th class="text-center">Username</th>
                  <th class="text-center">Delete User</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="data in datas|filter:search">
                  <td align="center">{{data.name}}</td>
                  <td align="center">{{data.email}}</td>
                  <td><button type="button" class="btn btn-danger" id="deleteBtn mt-0 mb-0" ng-click=getUser(data.email) data-toggle="modal" data-target="#myModal">
                    <span class="fa fa-trash fa-lg" aria-hidden="true" ></span></button></td>
                </tr>
              </tbody>

            </table>
          </div>


          <!--Pagination blue-->
          <nav style="background-color:white;" id="paginationBtnsAdmins">
              <ul class="pagination justify-content-center pg-blue" >
                  <!--Arrow left-->
                  <li class="page-item" ng-class="{ 'disabled': firstBool === true}" ng-click="switchBatch(-1)">
                      <a class="page-link" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                          <span class="sr-only">Previous</span>
                      </a>
                  </li>

                  <ul ng-repeat="batch in batches" ng-click="switchNumber($index)">
                    <!--Numbers-->
                    <li class="page-item" ng-class="{ 'active': batchNumber === $index}"><a class="page-link">{{$index+1}}</a></li>
                  </ul>

                  <!--Arrow right-->
                  <li class="page-item" ng-class="{ 'disabled': lastBool === true}" ng-click="switchBatch(-2)">
                      <a class="page-link" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">Next</span>
                      </a>
                  </li>
              </ul>
          </nav>
          <!--/Pagination blue-->
        </section>

      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id= "deleteUserModal" ng-controller="UserCtrl">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header bg-danger">
            <h5 class="modal-title">Delete User</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete user:</p>
            <p id="deleteUser"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click=deleteUser()>Confirm</button>
            <button type="button" class="btn btn-blue-grey" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id= "deleteAdminModal" ng-controller="AdminsCtrl">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header bg-danger">
            <h5 class="modal-title">Delete User</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete user:</p>
            <p id="deleteAdmin"></p>
          </div>
          <div class = "modal-body">
            <p id = "deleteAdminName"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click=deleteAdmin()>Confirm</button>
            <button type="button" class="btn btn-blue-grey" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>


    <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="UserCtrl">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header text-center">
                  <h4 class="modal-title w-100 font-weight-bold">Add User</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body mx-3">

                  <form class="md-form mb-4" name="form4">
                      <i class="fa fa-user prefix grey-text" style="padding-left:50%;"></i>
                      <input type="text" id="addUserForm" class="form-control" name="usernameForm">
                      <label for="addUserForm">Username</label>
                  </form>
                  <div>
                    <input type="radio" class="radio" id="controlUser" name="rdoResult" ng-model='result' ng-value='"control"'>
                    <label for="controlUser">Control</label>
                  </div>
                  <div>
                    <input type="radio" class = "radio" id="experimentalUser" name="rdoResult" ng-model='result' ng-value='"experimental"'>
                    <label for="experimentalUser">Experiment</label>
                  </div>

              </div>
              <div class="modal-footer d-flex justify-content-center">
                  <button class="btn btn-indigo" ng-click=addUser(result) data-dismiss="modal">Add</button>
              </div>
          </div>
      </div>
  </div>

  <div class="modal fade" id="addAdminModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="AdminsCtrl">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Add User</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">

                <form class="md-form mb-4" name="form4">
                    <i class="fa fa-envelope prefix grey-text" style="padding-left:50%;"></i>
                    <input type="text" id="addAdminFormUsername" class="form-control" name="usernameForm">
                    <label for="addAdminForm">Email</label>
                </form>
                <form class="md-form mb-4" name="form4">
                    <i class="fa fa-user prefix grey-text" style="padding-left:50%;"></i>
                    <input type="text" id="addAdminFormName" class="form-control" name="usernameForm">
                    <label for="addUserForm">Name</label>
                </form>
                <form class="md-form mb-4" name="form4">
                    <i class="fa fa-lock prefix grey-text" style="padding-left:50%;"></i>
                    <input type="text" id="addAdminFormPassword" class="form-control" name="usernameForm">
                    <label for="addUserForm">Password</label>
                </form>

            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button class="btn btn-indigo" ng-click=addAdmin(result) data-dismiss="modal">Add</button>
            </div>
        </div>
    </div>
</div>






</body>

</html>
